@font-face {
    font-family: 'MisterPixel';
    src: url('VTFMisterPixel.woff2') format('woff2'),
        url('VTFMisterPixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}