@font-face {
    font-family: 'Pilowlava';
    src: url('Pilowlava-Regular.eot');
    src: url('Pilowlava-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pilowlava-Regular.woff2') format('woff2'),
        url('Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

